* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
h1 {
    letter-spacing: 3px;
}
.scores {
    display: flex;
    align-items: center;
    gap: 20px;
}
.scores p {
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    background-color: #FFEA00;
}
.scores span {
    font-size: 32px;
}
.images button {
    border: none;
}
button {
    cursor: pointer;
}
.choices p {
    font-size: 32px;
}
.game-result {
    font-size: 32px;
    background-color: greenyellow;
    width: 40%;
    border-radius: 15px;
    text-align: center;
}
.reset-game {
    background-color: gray;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
.reset-game:hover {
    opacity: 0.5;
}